@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-slate-100;
}
.react-calendar {
  @apply bg-gradient-to-b from-[#2e026d] to-[#15162c];
  width: 350px;
  max-width: 100%;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
} /* flex min-h-screen flex-col items-center justify-center bg-gradient-to-b from-[#2e026d] to-[#15162c] */
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__month-view__days__day--weekend {
  color: #bd7e08;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.macro-header {
  /* width: 100px; */
}
.macro-table td {
  @apply rounded-lg;
  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.macro-table th {
  @apply rounded-lg;

  min-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
